<h4> <%= link_to "Go back home", lists_path  %> </h4>
<div class="container">
  <h1>Add a new list:</h1>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.submit %>
  <% end %>
</div>
