/*Card pick*/
.card-pick {
    display: flex;
    flex-direction: row;
    height: 150px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
    margin-bottom: 32px;
    width: 80%;
}

.card-movie {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0,0,0,0.3);
  margin-bottom: 32px;
  width: 100;
  color: navy;
  font-weight: inherit;
}
.card-pick img {
  /*fixed*/
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
  object-fit: cover;
  object-position: top;
  border-radius: 4px 4px 0 0;
}
.card-pick-info {
  /*customizable*/
  padding: 24px 16px;
}
.card-pick-info h2 {
  /*customizable*/
  margin: 0;
}
.card-pick:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
a {
  color: cadetblue;
  text-decoration: none;
}
p {
  color: black
}
